
@{
    ViewBag.Title = "Importing_External_Modules_Using_AMD";
}

<h2>Importing_External_Modules_Using_AMD</h2>

<link href="~/content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/require.js"></script>
<script src="~/Scripts/amd-demo/main.js"></script>

